/* Para ocupar a tela inteira */
.container-fluid {
    padding: 0;
}

.container-fluid .row {
    margin: 0;
}

/* Navbar */

/* coloca border abaixo no navbar, e estabelece margem para o que vem abaixo */
.navbar  {
    border-bottom: 1px solid blue;
    margin-bottom: 25px;
}

/* centraliza o navbar */
.navbar-nav {
    margin: auto;
}
/* coloca bold no botão principal (brand) */
.navbar-brand {
    font-family: 'Pacifico', cursive;
    font-size: 30px;
}
/* coloca cor e espaçamento das letras nas opções do navbar */
.navbar-light .navbar-nav a.nav-link {
    color: blue;
    letter-spacing: 0px;
    font-size: 17px;
    font-weight: bold;
    margin-left: 40px;
    text-transform: uppercase;
}

.lista-div {
    padding: 0;
}

.localview-div {
    padding: 0;
}

.irmaoview-div {
    padding: 0;
}


h2 {
    font-size: 25px;
    font-weight: bold;
    margin-left: 10px;
}

/* Lista de locais */

.lista-locais {
    padding-left: 0;
}

.item-locais {
    list-style: none;
    font-size: 17px;
    height: 50px;
    padding: 0 15px;
    padding-top: 10px;
    border-bottom: 1px dashed #CCC;
}

/* Lista de irmaos */

.lista-irmaos {
    padding-left: 0;
}

.item-irmaos {
    list-style: none;
    font-size: 17px;
    height: 50px;
    padding: 0 15px;
    padding-top: 10px;
    border-bottom: 1px dashed #CCC;
}

/* filter uf*/
.filteruf-div {
    margin-bottom: 15px;
    padding: 0;
    margin-left: 10px;
}

#filteruf {
    display: inline-block;
    width: 200px;
    margin-left: 10px;
}

/* filter status*/
.filterstatus-div {
    margin-bottom: 15px;
    padding: 0;
    margin-left: 10px;
}

#filterstatus {
    display: inline-block;
    width: 200px;
    margin-left: 10px;
}


/* Search */

.fas.fa-search {
    position: absolute;
    top: 12px;
    right: 16px;
    cursor: pointer; /* pointer para a lupa */
}

.search-div {
    padding: 0;
    margin-left: 10px;
    margin-bottom: 15px;
    display: inline-block;
    width: 400px;
}

.fas.fa-search {
    position: absolute;
    top: 12px;
    right: 16px;
    cursor: pointer; /* pointer para a lupa */
}

.searchirmao-div {
    padding: 0;
    margin-left: 10px;
    margin-bottom: 15px;
    display: inline-block;
    width: 400px;
}

.searchlocalinteresse-div {
    padding: 0;
    margin-left: 10px;
    margin-bottom: 15px;
    display: inline-block;
    width: 400px;
}