<!DOCTYPE html>
<html lang="en">
{% extends 'base.html' %}

{% block title %}Brethren{% endblock %}

{% block content %}
<div class="offset-1 col-10 distancias-div">
    <h2>Calcula Distâncias entre Locais</h2>
    <!-- Configuração da ação do botão search -->
    <div class="col-9 searchlocalinteresse-div">
        <form method="GET" id="searchlocalinteresse-form">
            <input class="form-control" type="text" id="searchlocalinteresse" name="searchlocalinteresse" placeholder="Digite o nome da cidade de interesse..." value="{{ request.GET.searchlocalinteresse }}"> <!-- value aqui apresenta o que o usuário digitou para não apagar depois que ele digitar enter ou clicar na lupinha -->
            <i class="fas fa-search bot-search-localinteresse" id="search-btn-localinteresse"></i>
        </form>
    </div>
    <ul class="lista-distancias">
         {% for dist in listadistancias %}
            <li class="item-distancias">
                <span>{{ dist.0 }} {{ dist.1 }}</span>
            </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}
</html>