<!DOCTYPE html>
<html lang="en">
{% extends 'base.html' %}

{% block title %}Brethren{% endblock %}

{% block content %}
<div class="offset-3 col-5 distancias-div">
    <h2>Distância para Localidades mais Próximas</h2>
    <!-- Configuração da ação do botão search -->
    <div class="col-9 searchlocalinteresse-div">
        <form method="GET" id="searchlocalinteresse-form">
            <input class="form-control" type="text" id="searchlocalinteresse" name="searchlocalinteresse" placeholder="Digite o nome da cidade de interesse..." value="{{ request.GET.searchlocalinteresse }}"> <!-- value aqui apresenta o que o usuário digitou para não apagar depois que ele digitar enter ou clicar na lupinha -->
            <i class="fas fa-search bot-search-localinteresse" id="search-btn-localinteresse"></i>
        </form>
    </div>
    <div class="container lista-distancias">
        <table class="table">   <!--  table-bordered table-sm  -->
            <thead>
            <tr>
                <th>Nome do Local</th>
                <th>Distância</th>
            </tr>
            </thead>
            <tbody>
            {% for dist in listadistancias %}
            <tr>
                <td>{{ dist.0 }}</td>
                <td>{{ dist.1 }}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
</html>