<!DOCTYPE html>
<html lang="en">
{% extends 'base.html' %}

{% block title %}Brethren{% endblock %}

{% block content %}
<div class="offset-1 col-10 lista-div">
    <h2>Irmãos Reunidos</h2>
    <ul class="lista-irmaos">
        {% for irmao in listairmaos %}
            <li class="item-irmaos">
                <img src="{{irmao.imagefoto.url}}" width="40"/>
                <span><a href="/irmao/{{irmao.id}}">{{irmao.nome}} / {{irmao.local}} / {{irmao.cidade}} /
                    {{irmao.uf}}</a></span>
            </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}
</html>
