<!DOCTYPE html>
{% extends 'base.html' %}
{% block title %}Brethren{% endblock %}

{% block content %}
<div class="offset-1 col-9 listalocais-div">
    <h2>Localidades com Reuniões</h2>

    <div class="flex-container">
        <!-- Configuração da ação do filtro -->
        <div class="col-12 column filteruf-div">
            <span>Filtrar UF:</span>
            <select name="filteruf" id="filteruf" class="form-control">
                <option value="0">Todos</option>
                {% for ufitem in listaufs %}
                    {% if filterufatual == ufitem.id %}
                        <option value="{{ ufitem.id }}" selected>{{ ufitem.nomeuf }}</option>
                    {% else %}
                        <option value="{{ ufitem.id }}">{{ ufitem.nomeuf }}</option>
                    {% endif %}
                {% endfor %}
            </select>
        </div>
        <!-- Configuração da ação do botão search -->
        <div class="col-9 column searchlocal-div">
            <form method="GET" id="search-form">
                <input class="form-control" type="text" id="search" name="search" placeholder="Digite o nome do local para buscar..." value="{{ request.GET.search }}"> <!-- value aqui apresenta o que o usuário digitou para não apagar depois que ele digitar enter ou clicar na lupinha -->
                <i class="fas fa-search bot-search-local" id="search-btn"></i>
            </form>
        </div>
    </div>

    {% if messages %}
    {% for message in messages %}
    <ul class="messagelist">
        <li {% if message.tags %} class="alert alert-{{ message.tags }} alert-dismissible" {% endif %} > <strong>{{message}}</strong> </li>
    </ul>
    {% endfor %}
    {% endif %}

    <div class="container lista-locais">
        <table class="table">   <!--  table-bordered table-sm  -->
            <thead>
            <tr>
                <th>Nome do Local</th>
                <th>Cidade</th>
                <th>UF</th>
            </tr>
            </thead>
            <tbody>
            {% for local in listalocais %}
            <tr>
                <td><span><a href="/local/{{local.id}}">{{local.nomelocal}}</a></span></td>
                <td>{{local.cidade}}</td>
                <td>{{local.uf}}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
