<!DOCTYPE html>
<html lang="en">
{% extends 'base.html' %}

{% block title %}Brethren{% endblock %}

{% block content %}
<div class="offset-1 col-10 lista-div">
    <h2>Localidades com Reuniões</h2>
    <ul class="lista-locais">
        {% for local in listalocais %}
            <li class="item-locais">
                <span><a href="/local/{{local.id}}">{{local.nomelocal}} / {{local.cidade}} / {{local.uf}}</a></span>
            </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}
</html>